<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RJ COLLEXTION</title>
    <link rel="stylesheet" href="otp.css">

   
</head>
<body style="background-color:#ffebd0; color:  #288683; text-align: center; margin-top: 150px; ">
    
    <div class="div">
        
        <h3 style="color: #ffebd0;">Send otp in your email or phone no Please Check Your Mail Or Number</h3>
        <br>
        <span style="color: red;">*Invalid OTP</span>
        <br><br>
        <form>
        <input type="text" style="height: 30px; width: 100%; border: none; outline: none; border-radius: 5px; padding-left: 5px;" placeholder="OTP (EX:4578)" maxlength="4" required>
        <br>
        <br><br>
        <a href="" style=" background-color:#ffebd0; color: #288683; border-radius: 5px; padding: 10px; width: 120px; ">Submit</a>
        </form>
    </div>
</body>
</html>